ul {
  list-style: none;
  li button {
    display: flex;
    align-items: center;
    height: 40px;
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #34495e;
    cursor: pointer;
  }
}
