<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>2S Santana</h2>
      <h4>santanarscs@fab.mil.br</h4>
    </div>
    <img
      src="https://avatars3.githubusercontent.com/u/8572296?s=460&u=3d66041b9972a3e2fe50cc444ba4bfbdd7aea9f2&v=4"
      alt="Soufiane FADIL"
    />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Páginas</h2>

  <mat-accordion class="app-nav-accordion">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
        >Dashboard</a
      >
    </mat-nav-list>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Planejamento</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/courses"
          >Cursos</a
        >
        <a mat-list-item>Turmas</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
